# Python
__pycache__/
*.py[cod]
*.class
venv/
.env
.env.*
# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
